body {
	background-color: #E5E5DA;
}

h2 {
	background-color: #07276A;
  color : #E5E5DA;
	font-family: BinggraeMelona;
  font-size: 40px;
}


button{
  background-color:#375E99 ;
  font-size: 15px;
  font-family: BinggraeMelona;
}

form#button a {
  text-decoration:none;
  color:#ffffff;
  font-family: BinggraeMelona;

}

h4 {
  background-color: #274A86;
  color: #E5E5DA;
  font-family: BinggraeMelona;
  font-size: 25px;

}
